@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

/************************************************
Common
*************************************************/
body {
  background-color: #efefef;
  font-family: "Heebo", sans-serif;
}

.wrapper {
  margin: 0;
  padding: 0;
}

/************************************************
Navbar
*************************************************/
nav.navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

nav .navbar-brand img {
  max-width: 2rem;
}

nav.navbar button.navbar-toggler {
  align-self: end;
}

nav .container.nav-content {
  margin: 0 auto 0 1rem;
  max-width: 50vw;
}

/************************************************
Hero
*************************************************/
section.hero-section {
  padding-top: 4.5rem;
}

.hero-section .carousel-inner {
  max-width: 95vw;
  max-height: 44vw;
}

/************************************************
company history
*************************************************/
section.jumbotron {
}

/************************************************
Agent section
*************************************************/
section.container.agents .col.card {
  margin: 0 0.5rem;
}

section.container.agents .card-body {
  position: relative;
}

section.container.agents .card-body h1 {
  position: absolute;
  background: lightblue;
  padding: 1rem;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-size: 2.2rem;
}

section.container.agents .card-body p {
  padding-top: 2rem;
}

section.container.agents a {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

section.container.agents a:hover {
  color: white;
  background-color: #007bff;
}
/************************************************
Responsiveness
*************************************************/
@media screen and (min-width: 992px) {
  /* navbar */
  nav .container.nav-content {
    justify-content: center;
    margin: 0 auto;
  }

  nav .navbar-brand img {
    max-width: 5rem;
  }

  #navbarNavDropdown.collapse {
    border-bottom: 1px black solid;
    max-width: 45vw;
  }

  /* hero */
  section.hero-section {
    padding-top: 7rem;
  }

  .hero-section .carousel-inner {
    max-width: 60rem;
    max-height: 26rem;
  }

  /* company history */
  section.jumbotron {
    max-width: 60rem;
  }
}

@media screen and (min-width: 1200px) {
  /* common */
  .wrapper {
    margin: 0 auto;
    max-width: 80rem;
  }

  /* hero */
  .hero-section .carousel-inner {
    max-width: 75rem;
    max-height: 30rem;
  }

  /* company history */
  section.jumbotron {
    max-width: 70rem;
  }
}
