@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

/************************************************
Common
*************************************************/
body {
  font-family: "Heebo", sans-serif;
}

.wrapper {
  margin: 0;
  padding: 0;
}

/************************************************
Navbar
*************************************************/
nav#navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
  transition: top 0.3s;
}

nav .navbar-brand img {
  max-width: 2rem;
}

nav.navbar button.navbar-toggler {
  align-self: end;
}

nav .container.nav-content {
  margin: 0 auto 0 1rem;
  max-width: 50vw;
}

/************************************************
Hero
*************************************************/
section.hero-section {
  padding-top: 4.5rem;
}

.hero-section .carousel-inner {
  max-width: 95vw;
  max-height: 44vw;
}
.hero-section .carousel-inner .hero-layer{
  background-color: rgba(214, 214, 214, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************************************
company history
*************************************************/
section.company-description {
  display: flex;
  max-width: 80vw;
}

section.company-description .company-description-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 100px;
  grid-gap: 0.5rem;
}

.company-description-images .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.company-description-images .gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.company-description-images .gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

section.company-description .jumbotron {
  background-color: unset;
}

/************************************************
Company Slogan section
*************************************************/
section.company-slogan {
  margin: 0 auto 2rem;
}

section.company-slogan .col.card {
  margin: 0 auto 1.5rem;
}

section.company-slogan h6.card-text {
  font-size: 1.5rem;
  font-weight: 350;
}

section.agents .row.cards-container,
section.company-slogan .row.cards-container {
  flex-direction: column;
}

/************************************************
Agent section
*************************************************/
section.agents .col.card {
  margin: 0 0.5rem;
}

section.agents .card-body {
  position: relative;
}

section.agents .card-body h1 {
  position: absolute;
  background: lightblue;
  padding: 1rem;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-size: 2.2rem;
}

section.agents .img-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 40vw;
}

section.agents img.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section.agents .card-body p {
  padding-top: 2rem;
}

section.agents a {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

section.agents a:hover {
  color: white;
  background-color: #007bff;
}
/************************************************
Responsiveness
*************************************************/
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
  /* navbar */
  nav#navbar {
    position: fixed;
    z-index: 10;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vw;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  nav .container.nav-content {
    justify-content: center;
    margin: 0 auto;
  }

  nav .navbar-brand img {
    max-width: 5rem;
  }

  #navbarNavDropdown.collapse {
    border-bottom: 1px black solid;
    max-width: 45vw;
  }

  /* hero */
  section.hero-section {
    padding: 0rem;
  }

  .hero-section .carousel-inner {
    max-width: 100vw;
    max-height: 50vw;
  }

  /* company history */
  section.jumbotron {
    max-width: 60rem;
  }
}

@media screen and (min-width: 1200px) {
  /* common */
  .wrapper {
    margin: 0 auto;
    max-width: 80rem;
  }

  /* hero */

  /* company history */
  section.jumbotron {
    max-width: 70rem;
  }
}

@media screen and (min-width: 1225px) {
  /* common */
  section.agents .row.cards-container,
  section.company-slogan .row.cards-container {
    flex-direction: unset;
  }

  section.company-slogan .col.card {
    margin: 0 auto 0.5rem;
  }
}
