/************************************************
Helpers
*************************************************/
:root {
  --blue-text: #00296b;
  --blue-bg: #002052;
  --gold-text: #c1a200;
  --yellow-text: #fdc500;
  --grey-text: #8e8e8e;
}

.is-blue {
  color: var(--blue-text);
}

.is-gold {
  color: var(--gold-text) !important;
}

.is-grey {
  color: var(--grey-text);
}

.is-round {
  border-radius: 0.6rem;
}

.is-sm-desktop-only-hidden {
  display: initial;
}

.is-desktop {
  display: none;
}

.is-mobile {
  display: initial;
}

/************************************************
Common
*************************************************/
body {
  /* font-family: "Heebo", sans-serif; */
  font-family: "Alegreya SC", serif;
  overflow-x: hidden;
}

.wrapper {
  margin: 0;
  padding: 0 5vw;
}

/************************************************
Navbar
*************************************************/
nav#navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
  transition: top 0.3s;
}

nav .navbar-brand img {
  max-width: 2rem;
}

nav.navbar button.navbar-toggler {
  align-self: end;
}

nav .container.nav-content {
  margin: 0 auto 0 1rem;
  max-width: 50vw;
}

.navbar-nav .dropdown {
  position: relative;
}

/************************************************
Responsiveness
*************************************************/
@media screen and (min-width: 455px) {
  .wrapper {
    margin: 0;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  /* helper */
  .is-desktop {
    display: initial;
  }

  .is-mobile {
    display: none;
  }

  .is-sm-desktop-only-hidden {
    display: none;
  }

  .wrapper {
    padding: 0 0;
  }

  /* navbar */
  nav#navbar {
    position: fixed;
    z-index: 10;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vw;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  nav .container.nav-content {
    justify-content: center;
    margin: 0 auto;
  }

  nav .navbar-brand img {
    max-width: 5rem;
  }

  #navbarNavDropdown.collapse {
    border-bottom: 1px black solid;
    max-width: 45vw;
  }
}

@media screen and (min-width: 1200px) {
  /* helper */
  .is-sm-desktop-only-hidden {
    display: initial;
  }

  /* common */
  .wrapper {
    margin: 0 auto;
    max-width: 80rem;
  }
}

@media screen and (min-width: 1225px) {
  /* common */
  section.agents .row.cards-container,
  section.company-slogan .row.cards-container {
    flex-direction: unset;
  }
}

@media screen and (min-width: 1400px) {
}
