/* blog social options */
.blog-social-container :is(a, button) {
  text-decoration: none !important;
  width: 60px;
  height: 40px;
  color: white;
  padding: 0.5em 1em;
  display: inline-block;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 5px rgba($black, 0.25);

  &:is(a:hover, button:hover) {
    color: white !important;
  }

  &.twitter {
    background: #1da1f2;
  }

  &.facebook {
    background: #3b5998;
  }

  &.rss {
    background: #fb950a;
  }

  &.copy-link {
    background: #9bdf5b;
  }
}

.blog-social-container .column.has-text-right {
  width: 90%;
  margin-left: auto;
}

@media screen and (min-width: 326px) {
  .blog-social-container .column.has-text-right {
    width: 73%;
    margin-left: auto;
  }
}

@media screen and (min-width: 412px) {
  .blog-social-container .column.has-text-right {
    width: 90%;
    margin-left: auto;
  }
}
